# Environment
.env
.venv/
venv/

# Data files (grandes demais pro GitHub)
data/raw/*.csv
data/raw/*.parquet

# Jupyter checkpoints
.ipynb_checkpoints/

# PowerBI temp files
*.pbix.tmp

# OS
.DS_Store
Thumbs.db
